<!DOCTYPE html>
<html lang="en" class="light-style layout-wide  customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path="/public/adminAssets/" data-template="vertical-menu-template" data-style="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Admin Login Page</title>

    
    <meta name="description" content="Start your development with a Dashboard for Bootstrap 5" />
    <meta name="keywords" content="dashboard, material, material design, bootstrap 5 dashboard, bootstrap 5 design, bootstrap 5">
    <!-- Canonical SEO -->
    <link rel="canonical" href="https://themeselection.com/item/materio-bootstrap-html-admin-template/">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    
    <!-- ? PROD Only: Google Tag Manager (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '../../../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5DDHKGP');</script>
    <!-- End Google Tag Manager -->
    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;ampdisplay=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="/adminAssets/vendor/fonts/remixicon/remixicon.css" />
    <link rel="stylesheet" href="/adminAssets/vendor/fonts/flag-icons.css" />
    
    <!-- Menu waves for no-customizer fix -->
    <link rel="stylesheet" href="/adminAssets/vendor/libs/node-waves/node-waves.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/adminAssets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/adminAssets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/adminAssets/css/demo.css" />
    
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/adminAssets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/adminAssets/vendor/libs/typeahead-js/typeahead.css" /> 
    <!-- Vendor -->
   <link rel="stylesheet" href="/adminAssets/vendor/libs/%40form-validation/form-validation.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="/adminAssets/vendor/css/pages/page-auth.css">

    <!-- Helpers -->
    <script src="/adminAssets/vendor/js/helpers.js"></script>
    
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="/adminAssets/vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="./adminAssets/js/config.js"></script>
    

    <style>
      .mb-1{
        padding-top: 30px;
        padding-bottom: 40px;
      }
      .mb-5{
        padding-bottom: 10px;
      }
      .nest{
        font-weight: bold;
        font-style: italic;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }
    </style>
</head>

<body>

  
  <!-- ?PROD Only: Google Tag Manager (noscript) (Default ThemeSelection: GTM-5DDHKGP, PixInvent: GTM-5J3LMKC) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5DDHKGP" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  <!-- Content -->

<div class="position-relative">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner py-6 mx-4">

      <!-- Login -->
      <div class="card p-7">
        <!-- Logo -->
        <div class="app-brand justify-content-center mt-5">
          <a href="index.html" class="app-brand-link gap-3">
            <span class="app-brand-text demo text-heading nest ">Nestoria</span>
          </a>
        </div>
        <!-- /Logo -->

        <div class="card-body mt-1">
          <h4 class="mb-1 ">Welcome to Nestoria! 👋🏻</h4>
          <form id="formAuthentication" class="mb-5" action="/admin/login" method="post">
            <div class="form-floating form-floating-outline mb-5">
              <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email or username"  value="adminnestoria@gmail.com" autofocus>
              <label for="email"></label>
            </div>
            <div class="mb-5">
              <div class="form-password-toggle">
                <div class="input-group input-group-merge">
                  <div class="form-floating form-floating-outline">
                    <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" value="123456"/>
                    <label for="password">Password</label>
                  </div>
                    <span class="input-group-text cursor-pointer" onclick="togglePassword()">
                        <i class="ri-eye-off-line ri-20px" id="toggleIcon"></i>
                    </span>
                </div>
              </div>
            </div>
            <% if (message) { %>
              <p style="color: red;"><%= message %></p>
            <% } %>
    
            <div class="mb-5">
              <button class="btn btn-primary d-grid w-100" type="submit">login</button>
            </div>
          </form>

        </div>
      </div>
      <!-- /Login -->
      <img src="/adminAssets/img/illustrations/tree-3.png" alt="auth-tree" class="authentication-image-object-left d-none d-lg-block">
      <img src="/adminAssets/img/illustrations/auth-basic-mask-light.png" class="authentication-image d-none d-lg-block scaleX-n1-rtl" height="172" alt="triangle-bg" data-app-light-img="illustrations/auth-basic-mask-light.png" data-app-dark-img="illustrations/auth-basic-mask-dark.html">
      <img src="/adminAssets/img/illustrations/tree.png" alt="auth-tree" class="authentication-image-object-right d-none d-lg-block">
    </div>
  </div>
</div>

<!-- / Content -->

  
  <div class="buy-now">
    <!-- <a href="https://themeselection.com/item/materio-bootstrap-html-admin-template/" target="_blank" class="btn btn-danger btn-buy-now">Buy Now</a> -->
  </div>
  

  

  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->
  <script src="/adminAssets/vendor/libs/jquery/jquery.js"></script>
  <script src="/adminAssets/vendor/libs/popper/popper.js"></script>
  <script src="/adminAssets/vendor/js/bootstrap.js"></script>
  <script src="/adminAssets/vendor/libs/node-waves/node-waves.js"></script>
  <script src="/adminAssets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="/adminAssets/vendor/libs/hammer/hammer.js"></script>
  <script src="/adminAssets/vendor/libs/i18n/i18n.js"></script>
  <script src="/adminAssets/vendor/libs/typeahead-js/typeahead.js"></script>
  <script src="/adminAssets/vendor/js/menu.js"></script>
  
  <!-- endbuild -->

  <!-- Vendors JS -->
  <script src="/adminAssets/vendor/libs/%40form-validation/popular.js"></script>
<script src="/adminAssets/vendor/libs/%40form-validation/bootstrap5.js"></script>
<script src="/adminAssets/vendor/libs/%40form-validation/auto-focus.js"></script>


  <script src="/adminAssets/js/main.js"></script>
  
  <script src="/adminAssets/js/pages-auth.js"></script>
  
</body><div class="input-group">
  <input type="password" class="form-control" id="password">
  <span class="input-group-text cursor-pointer" onclick="togglePassword()">
      <i class="ri-eye-off-line ri-20px" id="toggleIcon"></i>
  </span>
</div>

<script>
  function togglePassword() {
      const passwordInput = document.getElementById("password");
      const toggleIcon = document.getElementById("toggleIcon");

      if (passwordInput.type === "password") {
          passwordInput.type = "text";
          toggleIcon.classList.replace("ri-eye-off-line", "ri-eye-line");
      } else {
          passwordInput.type = "password";
          toggleIcon.classList.replace("ri-eye-line", "ri-eye-off-line");
      }
  }
</script>

</html>



