

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Nestoria</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg" />

    <!-- Font Icon -->
    <link rel="stylesheet" href="/userAssets/signupAssets/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/userAssets/signupAssets/css/style.css">

    <style>
        .toggle-password {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.5em;
        }
    </style>
</head>
<body>

 <div class="main">

 <!-- Sing in  Form -->
 <section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="/userAssets/signupAssets/images/signin-image.jpg" alt="sing up image"></figure>
                <a href="/register" class="signup-image-link">Create an account</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Sign in</h2>
                <form method="post" action="/login" class="register-form" id="login-form">
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                        <input type="text" name="email" id="email" placeholder="Enter your email" />
                    </div>
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="pass" id="pass" placeholder="Password"/>
                        <span class="toggle-password" onclick="togglePassword('pass', 'pass-toggle')">
                            <i id="pass-toggle" class="zmdi zmdi-eye"></i>
                        </span>
                    </div>

                    <%if(locals.message && message.length>0) {%>
                        <div class="success-message">
                            <%=message%>
                        </div>
                    <%}%>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                    </div>
                </form>
                <div class="social-login">
                    <span class="social-label">Or login with Google</span>
                    <ul class="socials">
                        <li><a href="/auth/google"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

</div>

<script>
      function togglePassword(inputId, iconId) {
    var input = document.getElementById(inputId);
    var icon = document.getElementById(iconId);

    if (input.type === "password") {
        input.type = "text";
        icon.classList.remove('zmdi-eye');
        icon.classList.add('zmdi-eye-off');
    } else {
        input.type = "password";
        icon.classList.remove('zmdi-eye-off');
        icon.classList.add('zmdi-eye');
    }
}
</script>

   <!-- JS -->
   <script src="/userAssets/signupAssets/vendor/jquery/jquery.min.js"></script>
   <script src="/userAssets/signupAssets/js/main.js"></script>
</body>
</html>